doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title gooi by brud
    meta(name='author', content='Fust Kilas')
    meta(name='description', content='gooi - Typographic Clusterflux')
    meta(name='viewport', content='width=device-width, initial-scale=1')


  body
    != yield
